
.top
    // flex: 1
    // height: 50px
    border-bottom: solid 1px var(--adm-color-border)

.body
    flex: 1
    // max-height: calc(var(--vh, 1vh) * 100 - 90px)
    overflow-y: auto

.bottom
    // flex: 0 0 auto
    border-top: solid 1px var(--adm-color-border)
    // height: 40px


