
.top
    border-bottom: solid 1px var(--adm-color-border)

.body
    flex: 1
    overflow-y: auto
    scroll-behavior: smooth
    -webkit-overflow-scrolling: touch

.bottom
    border-top: solid 1px var(--adm-color-border)
